<turbo-frame id="<%= dom_id(task) %>">
  <div class="block">
    <%= form_with(model: task, class: "", data: { turbo_frame: "_top" }) do |form| %>
      <%= form.check_box :completed,
                         data: { id: task.id, action: "change->tasks#toggle" },
                         class: "" %>
      <%= task.description %>
    <% end %>

    <div class="block-child">
      <%= link_to "âœŽ", edit_task_path(task), class: "block-edit" %>
      <%= button_to "ðŸ—‘ï¸", task_path(task), method: :delete, class: "block-del" %>
    </div>
  </div>
</turbo-frame>
