<div class="category">  
  <%= link_to "Back To Task", tasks_path, class: "category-back" %>
  <div class="category-head">
    <h1 class= "cate-h1">Category List</h1>
    <%= link_to "Add New Category", new_category_path , class: "category-add" %>
  </div>
  <ul>
    <% @categories.each do |category| %>
      <li class="category-content">
        <%= category.name %> 
        <div class="category-frame">
          <%= link_to "✎", edit_category_path(category), class: "category-edit" %>
          <%= button_to "🗑", category_path(category), method: :delete , class: "category-del"  %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

